@import '../../../style/variables.scss';

.btn {
  padding: 1.9rem 3.3rem;
  border: 1px solid;
  cursor: pointer;
  transition: all .3s ease-out;
  font-family: 'Orbitron', sans-serif;
  font-size: 1.8rem;
  color: #fff;

  &:hover {
    transform: translateY(-.5rem);
  }

  &__contained {
    background-color: $color-primary;
    border-color: $color-primary;

    &:disabled {
      background-color: $color-grey;
      border-color: $color-grey;
    }
  }

  &__text,
  &__text:hover,
  &__text:focus {
    border: none;
    outline: none;
    background: none;
  }

  &__outlined {
    background-color: transparent;
    border-color: #fff;
  }

  &__outlined,
  &__text {

    &:disabled {
      color: $color-grey;
    }
  }
}